<div>
<% if @authors.blank? %>
  No results found for ' <%= params[:name]%>'
<% else %>
  <% @authors.each do |a| %>
  <div><%= radio_button :unique_auth,  "name", a.id %> &nbsp;&nbsp;&nbsp; <%= a.name %>, <%=a.id%></div>
  <% end %>
  <div>
   <%(1..@search.page_count).each do |p|%>
     <% if p == params[:page] %>
       <span><%= p %>&nbsp;</span>
     <% else %>
       <span><a href="#" onClick="document.getElementById('uniqueAuthorSearchForm')['page'].value=<%= p %>;document.getElementById('uniqueAuthorSearchForm').onsubmit();return false;" ><%= p %></a>&nbsp;</span>
     <% end %>
   <% end %>
  </div>
<% end %>
</div>
