<%= error_messages_for 'feedpage' %>

<% form_for @feedpage do |f| %>

<p>
  RSS-feed url:<br />
  <%= f.text_field :url %>
</p>
<% languages = {'English' => 1, 'deutsch' => 2} %>
<%= select_tag(:language, options_for_select(languages, params[:language] ))  %>

<% topics = {'Any topic' => 1, 'Politics' => 2, 'Business' => 5, 'Culture' => 3, 'Science' => 4, 'Sport' => 6, 'Mixed' => 7, 'Humor' => 8, 'Technology' => 9} %>
<%= select_tag(:topic, options_for_select(topics, params[:topic]))  %>

<% types = {'All' => 0, 'Only opinions' => 1} %>
<%= select_tag(:opinionated, options_for_select(types, params[:opinionated] ))  %>


<p>
  <%= submit_tag %>
</p>
<% end %>